<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a href="#" class="navbar-brand">DroneHub</a>
    <a routerLink="home" class="nav-link">Home</a>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <li class="nav-item">
        <a routerLink="home" class="nav-link">Home</a>
      </li>
    </div>

    

    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="home" class="nav-link">Home</a>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Requests
        </a>
        <div class="dropdown-menu">
        
          <a class="dropdown-item" routerLink="accounts" class="nav-link">Accounts</a>
          <a class="dropdown-item" routerLink="post/add" class="nav-link">Adds & Posts</a>
          <a class="dropdown-item" routerLink="blogs" class="nav-link">Blogs</a>
        
      </div>
      </li>

      <!--<li class="nav-item">
        <a routerLink="admin-profile" class="nav-link">Your Profile</a>
      </li> -->
      <li class="nav-item">
        <a routerLink="post" class="nav-link">Posts</a>
      </li>
      <li class="nav-item">
        <a routerLink="register" class="nav-link">Register</a>
      </li>
    </div>
    </div>
  </nav> 

  <div class="container mt-3">
    <h2>{{ title }}</h2>
     <router-outlet></router-outlet>
  </div> 
</div>