<div class="contain-post" id="create-post">
    <button (click)="openCreatePost()" class="btn btn-dark" style="margin-bottom: 20px;"> create post</button> <br>
</div>

<div class="contain-post">
<table class="table table-striped">
    <thead>
      <tr class="table-light">
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Location</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts; let i = index" class="table-light">
          <th scope="row">{{i}}</th>
          <td>{{post.title}}</td>
          <td >{{post.category}}</td>
          <td >{{post.location}}</td>
          <td >{{post.date}}</td>
          <td>
            
          <button class="btn btn-warning cusBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button> 
          <button (click)="deleteTutorial(post)" class="btn btn-dark cusBtn"><i class="fa fa-trash" aria-hidden="true"></i></button>
          <button class="btn btn-success cusBtn"><i class="fa fa-eye" aria-hidden="true"></i></button>     
          </td>
      </tr> 
    </tbody>
  </table>
</div>
